## Load and transform data

### Load libraries

In [18]:
# conda install pandas
# conda install xlrd
# conda install openpyxl

import pandas as pd

### Load data

In [19]:
data = pd.read_excel("Input/gtrendsdata.xlsx")
data

        Date  car  bike  bus
0    2004-01   93    14   24
1    2004-02   93    14   23
2    2004-03   95    17   23
3    2004-04   99    19   23
4    2004-05   97    20   23
..       ...  ...   ...  ...
199  2020-08   80    28   22
200  2020-09   76    25   22
201  2020-10   73    22   21
202  2020-11   65    21   20
203  2020-12   68    19   22

[204 rows x 4 columns]

### Data wrangling

In [20]:
# Date variable to date format

data['Date'] = pd.to_datetime(data['Date'], format = ("%Y-%m-%d"))

### Save data

In [21]:
data.to_excel("Output/data_ready.xlsx",index=False)